<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flex-center mt-2">
          <a href="https://www.instagram.com/min.ileg/?r=nametag" target="_blank"><img src="assets/images/instagram-brands.svg" width="30px" height="30px"></a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="flex-center">
          <p>Universidad de Boyacá</p>
          <p>Vigilada Mineducación - Personería Jurídica Nº 6553 de mayo
            de 1981 - Resolución Nº 2910 del 16 de septiembre de 2004 MEN
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-2">© 2020 Copyright
  </div>
</footer>
