<div class="mt-3 text-center">
  <h2>¿Quiénes somos?</h2>
</div>

<div class="row mt-5">

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoMujer.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Yudi Valentina Casallas Chaves</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Ingenieria Industrial</p>
        </div>
        <div class="row">
          <p class="card-text">yvcasallas@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoHombre.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Julio Cesar Reyes Caro</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Ingenieria Industrial</p>
        </div>
        <div class="row">
          <p class="card-text">julreyes@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoMujer.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Ingrid Camila Carvajal Villamil</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Ingenieria Industrial</p>
        </div>
        <div class="row">
          <p class="card-text">iccarvajal@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5">

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoHombre.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Oscar Gerardo Contreras Aparicio</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Ingenieria de Sistemas</p>
        </div>
        <div class="row">
          <p class="card-text">ogcontreras@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoMujer.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Ana Lucía Acuña Cano</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Ingenieria Industrial</p>
        </div>
        <div class="row">
          <p class="card-text">alacuna@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="docs/assets/images/fondoMujer.png" class="card-img-top" height="150px">
      <div class="card-body">
        <div class="row">
          <p class="card-text">Kenlly Alexandra Carvajal Hernández</p>
        </div>
        <div class="row">
          <p class="card-text">Est. Fisioterapia</p>
        </div>
        <div class="row">
          <p class="card-text">kacarvajal@uniboyaca.edu.co</p>
        </div>
      </div>
    </div>
  </div>
</div>



