/* About Us Section
--------------------------------*/
#about {
    background: #fff;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
  }
  
  #about .about-container .icon-box .icon i {
    color: #2dc997;
    font-size: 24px;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

  #facts {
    background: #f7f7f7;
    padding: 60px 0 60px 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #facts .counters span {
    font-size: 48px;
    display: block;
    color: #2dc997;
  }
  
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  #services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
  }
  
  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #2dc997;
  }
  
  #services .icon a {
    display: inline-block;
  }
  
  #services .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #services .box:hover .icon {
    background: #fff;
    border: 2px solid #2dc997;
  }
  
  #services .box:hover .icon i {
    color: #2dc997;
  }
  
  #services .box:hover .icon a {
    color: #2dc997;
  }
  
  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 24px;
  }

  .contenido-inicio{
    margin-top: 50px;
}