<div class="principal">
  <h4 class="text-center mt-3">¿Quieres que la provincia de Sogamuxi y todo el departamento de Boyacá sea así?</h4>
  <div class="w-75 divCarrusel mt-4">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/carrusel/imagen1.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen2.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen3.jpg" class="d-block w-100" alt="Foto Consecuencias Mineria ilegal">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen4.jpg" class="d-block w-100" alt="Foto Consecuencias Mineria ilegal">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen5.jpg" class="d-block w-100" alt="Foto Consecuencias Mineria ilegal">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen6.jpg" class="d-block w-100" alt="Foto Consecuencias Mineria ilegal">
        </div>
        <div class="carousel-item">
          <img src="assets/images/carrusel/imagen7.jpeg" class="d-block w-100" alt="Foto Consecuencias Mineria ilegal">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <p class="text-center">Desde la asignatura de Problemas de Contexto en la Universidad de Boyacá, nace la necesidad
        de crear estrategias para dar soluciones e informar a la comunidad boyacense sobre la mineria ilegal que se
        realiza en el departamento.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/logoUB.png" class="d-block w-100" width="30px" height="90px">
    </div>
  </div>

  <div class="mt-4">
    <div>
      <p class="text-center">El enfoque de esta campaña se centra en la provincia de Sugamuxi, la cual se encuentra en
        el departamento de
        Boyacá, debido a que allí se concentra la actividad minera carbonífera por la influencia de la cuenca alta del
        río Chicamocha.</p>
      <p class="text-center">Entre los recursos se encuentran el carbón, caliza, caolín, aguas termominerales,
        esmeraldas, arsénicas y
        arcillas.</p>
    </div>
    <div class="col-md-12">
      <p class="text-center"><img src="assets/images/infografias/infografia3.jpeg" width="400px" height="600px">
      </p>
    </div>
  </div>
  <div class="mt-4">
    <div>
      <p class="text-center">¡Ven y ayudanos a proponer estrategias que permitan mitigar 
        los problemas ambientales y sociales producidos por 
        la minería ilegal en la provincia de Sugamuxi!</p>
    </div>
    <div>
      <p class="text-center"><a routerLink="/quienesSomos">Contactanos!</a>
      </p>
    </div>
  </div>
</div>
